In [1]:
import pandas as pd
import numpy as np

In [2]:
ciuu = pd.read_excel("Ciiu por sectores y subsectores.xls")

In [3]:
ciuu.head()

,CIIU,NOMBRE_CIIU,SECTOR,DESC_SECTOR,SUB_SECTOR,DESC_SUB_SECTOR
0,111,"CULTIVO DE CEREALES (EXCEPTO ARROZ), LEGUMBRES...",1,"AGRICULTURA, GANADERÍA, CAZA, SILVICULTURA Y P...",1,"AGRICULTURA, GANADERÍA, CAZA Y ACTIVIDADES DE ..."
1,112,CULTIVO DE ARROZ.,1,"AGRICULTURA, GANADERÍA, CAZA, SILVICULTURA Y P...",1,"AGRICULTURA, GANADERÍA, CAZA Y ACTIVIDADES DE ..."
2,113,"CULTIVO DE HORTALIZAS, RAÍCES Y TUBÉRCULOS.",1,"AGRICULTURA, GANADERÍA, CAZA, SILVICULTURA Y P...",1,"AGRICULTURA, GANADERÍA, CAZA Y ACTIVIDADES DE ..."
3,114,CULTIVO DE TABACO.,1,"AGRICULTURA, GANADERÍA, CAZA, SILVICULTURA Y P...",1,"AGRICULTURA, GANADERÍA, CAZA Y ACTIVIDADES DE ..."
4,115,CULTIVO DE PLANTAS TEXTILES.,1,"AGRICULTURA, GANADERÍA, CAZA, SILVICULTURA Y P...",1,"AGRICULTURA, GANADERÍA, CAZA Y ACTIVIDADES DE ..."

In [4]:
len(ciuu)

496

In [11]:
consociuu = ciuu.groupby(['SECTOR','DESC_SECTOR','CIIU'])[['CIIU']].count()
consociuu

                                                                CIIU
SECTOR DESC_SECTOR                                        CIIU
1      AGRICULTURA, GANADERÍA, CAZA, SILVICULTURA Y PESCA 111      1
                                                          112      1
                                                          113      1
                                                          114      1
                                                          115      1
...                                                              ...
20     ACTIVIDADES DE LOS HOGARES INDIVIDUALES EN CALI... 9700     1
                                                          9810     1
                                                          9820     1
21     ACTIVIDADES DE ORGANIZACIONES Y ENTIDADES EXTRA... 9900     1
22     PENDIENTE ACTUALIZAR CODIFICACION CIIU VERSION 4   9999     1

[496 rows x 1 columns]

In [ ]:
consociuu.to_excel('consociuu.xlsx')

In [16]:
ciuuconstruccion = ciuu[(ciuu["SECTOR"]==6)]
print(ciuuconstruccion['CIIU'].tolist())

[4111, 4112, 4210, 4220, 4290, 4311, 4312, 4321, 4322, 4329, 4330, 4390]

In [17]:
ciuumanufactura = ciuu[(ciuu["SECTOR"]==3)]
print(ciuumanufactura['CIIU'].tolist())

[1011, 1012, 1020, 1030, 1040, 1051, 1052, 1061, 1062, 1063, 1071, 1072, 1081, 1082, 1083, 1084, 1089, 1090, 1101, 1102, 1103, 1104, 1200, 1311, 1312, 1313, 1391, 1392, 1393, 1394, 1399, 1410, 1420, 1430, 1511, 1512, 1513, 1521, 1522, 1523, 1610, 1620, 1630, 1640, 1690, 1701, 1702, 1709, 1811, 1812, 1820, 1910, 1921, 1922, 2011, 2012, 2013, 2014, 2021, 2022, 2023, 2029, 2030, 2100, 2211, 2212, 2219, 2221, 2229, 2310, 2391, 2392, 2393, 2394, 2395, 2396, 2399, 2410, 2421, 2429, 2431, 2432, 2511, 2512, 2513, 2520, 2591, 2592, 2593, 2599, 2610, 2620, 2630, 2640, 2651, 2652, 2660, 2670, 2680, 2711, 2712, 2720, 2731, 2732, 2740, 2750, 2790, 2811, 2812, 2813, 2814, 2815, 2816, 2817, 2818, 2819, 2821, 2822, 2823, 2824, 2825, 2826, 2829, 2910, 2920, 2930, 3011, 3012, 3020, 3030, 3040, 3091, 3092, 3099, 3110, 3120, 3210, 3220, 3230, 3240, 3250, 3290, 3311, 3312, 3313, 3314, 3315, 3319, 3320]

In [ ]:
ciuuconstruccion.to_excel('ciuuconstruccion.xlsx')
ciuumanufactura.to_excel('ciuumanufactura.xlsx')

In [ ]:
#faltan estos CIUU en la hoja del filtro
1011, 1012, 1020, 1030, 1040, 1051, 1052, 1061, 1062, 1063, 1071, 1072, 1081, 1082, 1083, 1084,
1089, 1090, 1101, 1102, 1103, 1104, 1200,1811, 1812, 1820, 1921, 1922, 2012, 2021, 2100, 2394, 2610
2620, 2630, 2640, 2651, 2652,2670, 2680, 2910, 2920, 2930, 3011, 3012, 3020, 3030, 3040, 3091, 3099, 3110, 
3120, 3210, 3220, 3230, 3240, 3290
#tenemos CIUU 4659 corresponde a: COMERCIO AL POR MAYOR DE OTROS TIPOS DE MAQUINARIA Y EQUIPO N.C.P.
#tenemos CIUU 4751 corresponde a: COMERCIO AL POR MENOR DE PRODUCTOS TEXTILES EN ESTABLECIMIENTOS ESPECIALIZADOS.
#ambos CIUU pertenecen al sector 7 COMERCIO AL POR MAYOR Y AL POR MENOR; REPARACIÓN DE VEHÍCULOS AUTOMOTORES Y MOTOCICLETAS